<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button color="secondary" slot="start"></ion-menu-button>
    <ion-title color="secondary">GULA ONLINE</ion-title>
   <!--<ion-title>ajuda</ion-title>--> 
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-toolbar color="secondary"> 
    <ion-img src="/assets/logoAjuda.png"></ion-img>
    
  </ion-toolbar>
  <center><ion-title color="secondary">FALE CONOSCO!!!</ion-title></center>
  <ion-title color="secondary"> (19) 9999-9999</ion-title>
  <ion-title color="secondary"> (19) 5988-7799</ion-title>
  <ion-title color="secondary"> email : gulaonline@gmail.com.br</ion-title>
</ion-content>
